<style>
    #footer {
        /* position: absolute;
        bottom: 10px; */
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        /* trick to center position: absolute element, element's width matches browser's width so left and right is 0 */
        left: 0;
        right: 0;
        font-size: 12px;
    }
</style>
<div id="footer">
    <p>
        <span id="current_year"></span>
        &copy; フッター
    </p>
    
    <script>
        current_year = new Date().getFullYear()
        $("#current_year").text(current_year)
    </script>
</div>

<script>
        // let bodyHeight = document.body.clientHeight;
        // let windowHeight = window.innerHeight;
        // if (bodyHeight < windowHeight) {
        //     $("#footer").css({
        //         "position": "absolute",
        //         "bottom": "0"
        //     })
        // } 
</script>

